/*
 *Name: Victor Yeh
 *UnityID: vsyeh
 *Date: 9/29/19
 *Assignment: Website and CSS Independent Assignment
 *Description: Styling the Independent Assignment
 */
 
p {
	font-family:Times ;
	font-size: 16px;
	color:#800080
    property: value;
}

.class {
    property: value;
}

.table-border {
	border: 2px;
#photo-border
	border: 2px;
	color:#00FF00
		
}
